.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
}

.search__title,
.subtitle {
    text-align: center;
    font-size: 48px;
}

.search__input,
.search__item,
.result-list__item {
    width: 500px; 
}

.search__input {
    height: 60px;
    font-size: 42px;
}

.search__item {
    display: flex;
    align-items: center;
    font-size: 30px;
    height: 44px;
    background-color: #E3E3E3;
    border: 2px solid #000000;
}

.result-list__item {
    position: relative;
    padding: 8px;
    padding: 8px 16px;
    font-size: 24px;
    line-height: 28px;
    height: 100px; 
    background-color: aliceblue;
    border: 1px solid #000000;
}

.result-list__button {
    position: absolute;
    top: 20px; 
    right: 16px;
    line-height: 48px;
    font-size: 48px;
    transition-duration: 0.5s;
    transition-property: color;
    color: black; 
    background-color: aliceblue;
}

.result-list__button:hover, 
.result-list__button:focus {
    color: red;
}







